# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*                            export-ignore
/addons/broomrocket          -export-ignore
/addons/broomrocket/**       -export-ignore
/addons/broomrocket/*.import export-ignore
